<body class="d-flex flex-column min-vh-100" id="content_body" style="background-image:url('{{ STATIC_URL }}/static/img/ept_background.png'); background-size: cover; background-repeat:no-repeat;">
   
    

    <section style="color: white; font: 1.5em sans-serif; width: 50%; margin-top: 20px;">
        <h1>Sagesse - Devoir </h1>
    <p>L'Ecole Polytechnique de Thiès, connue sous le sigle de l'EPT, est une grande école <strong>d'ingénieurs</strong> implantée au Sénégal. Créée en 1973 par Léoplold Sédar Senghor, elle forme des ingénieurs dans les domainse du génie civil, du génie électromécanique (avec une fillière aéronautique) et du génie informatique et télécommunications</p>
    
    </section>

   
</body>