
        <footer class="page-footer mt-auto font-small pt-4 clear fix-bottom" style="background-color: #e4872a;bottom: 0; clear:both;" >

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left" style="margin-top: 0;">
          
              <!-- Grid row -->
              <div class="row" style="margin-top: 0;">
          
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mt-md-0 mt-3" style=" text-align: center;">
            
                  <!-- Content -->
                  <img src="{{ STATIC_URL }}/static/img/ept_logo.png" alt="Image" style="height: 40%;" />

                  <!-- Copyright -->
                  <div class="footer-copyright text-center py-3" style="color: white;"> Copyright 2021 © | Ecole Polytechnique de Thiès
                  </div>
                  <!-- Copyright -->
                        <!-- <h5 class="text-uppercase">Footer Content</h5>
                  <p>Here you can use rows and columns to organize your footer content.</p> -->
          
                </div>
                <!-- Grid column -->
          
                <hr class="clearfix w-100 d-md-none pb-3">
              

                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-md-0 mb-3" style="color: white; font-size: 15px; border-left: solid white 2px;">
          
                  <!-- Links -->
                  <h6>Contacts</h6>
          
                  <div>Mail: ept@ept.sn</div>
                  <div>Postale: BP A10, Thiès, Sénégal</div>
                  <div>Téléphone : 00221 33 951 15 48</div>
                  <div>Fax :  00221 33 951 14 79</div>
          
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
          
                <!-- Grid column -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 mb-md-0 mb-3" style="color: white; font-size: 15px;  border-left: solid white 2px;">
          
                  <!-- Links -->
                  <h6>Social</h6>
          
                  <div>
                    <img src="{{ STATIC_URL }}/static/img/iconmonstr-instagram-141.svg" alt="Image" style="height: 30px;" />
                    <img src="{{ STATIC_URL }}/static/img/facebook_black_24dp1.svg" alt="Image" style="height: 30px;" />
                    <img src="{{ STATIC_URL }}/static/img/iconmonstr-twitter-41.svg" alt="Image" style="height: 30px;" />
                    <img src="{{ STATIC_URL }}/static/img/iconmonstr-youtube-91.svg" alt="Image" style="height: 30px;" />

                  </div>
          
                </div>
                <!-- Grid column -->
          
              </div>
              <!-- Grid row -->
          
            </div>
            <!-- Footer Links -->
          
            
          
          </footer>
          <style>
            .col-sm-4 .col-xs-4{
              display: block;
              position:absolute;
              bottom:0;
              width: 100%;
            }
            footer{
              position:absolute;
              bottom:0;
              width: 100%;
            }
          </style>